@model IPagedList<OrderVM>

<div class="row">
    <div class="col-md-8 offset-2">

        @if (User.IsInRole("Admin"))
        {
            <div class="container mb-2">
                <div class="row">
                    @* NOTE: filterOption is a custom TagHelper (Views/Shared/Tag Helpers)  *@
                    <div class="col-sm-3 mb-1">
                        <a name="unpaid-orders" filterOption asp-action="Filter" asp-route-option="unpaid-orders">Unpaid Orders</a>
                    </div>
                    <div class="col-sm-3 mb-1">
                        <a name="orders-for-shipping" filterOption
                           asp-action="Filter" asp-route-option="orders-for-shipping">Orders For Shipping</a>
                    </div>
                    <div class="col-sm-3 mb-1">
                        <a name="shipped-orders" filterOption
                           asp-action="Filter" asp-route-option="shipped-orders">Shipped Orders</a>
                    </div>
                    <div class="col-sm-3 mb-1">
                        <a name="received-orders" filterOption
                           asp-action="Filter" asp-route-option="received-orders">Received Orders</a>
                    </div>
                </div>
            </div>
        }

        @foreach (var order in Model)
        {
            await Html.RenderPartialAsync("_OrderDetails", order);
        }

    </div>

</div>

<div style="position: fixed; bottom: 60px; left: 50%; transform: translateX(-50%);">
    <div class="row">
        <nav class="mx-auto">
            @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), new PagedListRenderOptions()
            {
            ActiveLiElementClass = "active",
            PageClasses = new[] { "page-link" },
            LiElementClasses = new[] { "page-item" },
            UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3" },
            LinkToNextPageFormat = ">",
            LinkToPreviousPageFormat = "<",
            MaximumPageNumbersToDisplay = 2,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always
            })
        </nav>
    </div>
</div>
