<div class="row">
    <div class="col-md-6 offset-3 text-center">
        <p class="h3 text-secondary">You don't have access rights to view this page!</p>
        <p class="text-danger h4">Login as Administrator to access this page.</p>
        <hr />
        <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Login">Proceed Log in page</a>
    </div>
</div>